body { background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
 font-size: 60px;
 text-align: center; 
 font-family: 'Courier New', Courier, monospace;
 color: darkblue;
}
h3 a {color: white;}
h4 {
 text-align: right;
 font-style: italic;
}
p {text-align: center;}
#paragraf1 {
    color: orange;
    }