body { 
    background-image: url(background.png);
    background-repeat: repeat-x;
    font-family: Georgia;
}
h1 {
 font-size: 60px;
 text-align: center; 
 font-family: 'Courier New', Courier, monospace;
 color: darkblue;
}
h3 {text-align: center;}
h3 a {
    color: red;
}
.tebal:hover {
    color: red;
}
h4 {
 text-align: center;
 font-style: italic;
}
p {text-align: center;}
#paragraf1 {
    color: orange;
    }
.mark:link {
    color: blue
}
